.navbar {
  background: #333;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #f39c12;
  font-size: 24px;
  font-weight: bold;
}

.nav-right-content {
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #f39c12;
}

